/*-- scss:rules --*/
body {
  background-image: url("resources/purple_martinotti_7_collman.png");
  background-size: cover; /* This makes the image cover the entire background */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-attachment: fixed; /* Keeps the background fixed when scrolling */
}